openapi: "3.1.0"
info:
  title: "Orizn Visa API"
  description: "Visa requirements for any passport/destination pair in 15 languages, from official government sources. Every endpoint below except /stats requires an API key (free at https://visa.orizn.app/visa-api, 100 requests/month)."
  version: "1.0.0"
servers:
  - url: "https://visa.orizn.app"
paths:
  /api/v1/visa/check:
    get:
      operationId: "quickVisaCheck"
      summary: "Quick check if a visa is required between two countries"
      description: "Returns the visa requirement type and allowed stay duration. Requires a free API key."
      parameters:
        - name: passport
          in: query
          required: true
          schema:
            type: string
            pattern: "^[A-Z]{3}$"
          description: "ISO 3166-1 alpha-3 code of the passport country (e.g., FRA, USA, JPN)"
        - name: destination
          in: query
          required: true
          schema:
            type: string
            pattern: "^[A-Z]{3}$"
          description: "ISO 3166-1 alpha-3 code of the destination country (e.g., THA, BRA, GBR)"
      responses:
        "200":
          description: "Visa requirement check result"
          content:
            application/json:
              schema:
                type: object
                properties:
                  passport:
                    type: string
                    description: "Passport country code"
                  destination:
                    type: string
                    description: "Destination country code"
                  requirement:
                    type: string
                    description: "Visa requirement type: visa_free, visa_required, e_visa, visa_on_arrival, eta, no_admission — a few pairs also return not_applicable or partial_restrictions"
                  visa_free_days:
                    type: integer
                    nullable: true
                    description: "Number of days allowed without a visa, if applicable"
                  visa_required:
                    type: boolean
                    description: "Whether a visa must be obtained before travelling"
                  last_verified:
                    type: string
                    nullable: true
                    description: "Date this pair was last verified (YYYY-MM-DD), null when unknown"
        "401":
          description: "Missing API key"
        "403":
          description: "Invalid or inactive API key"
        "429":
          description: "Monthly quota reached — the body carries an upgrade_url"
        "404":
          description: "Country pair not found"
  /api/v1/visa:
    get:
      operationId: "getFullVisaDetails"
      summary: "Get full visa details including documents, process, and tips"
      description: "Returns comprehensive visa requirements with required documents, application process, travel tips, and country info. Requires API key."
      parameters:
        - name: passport
          in: query
          required: true
          schema:
            type: string
            pattern: "^[A-Z]{3}$"
          description: "ISO 3166-1 alpha-3 code of the passport country"
        - name: destination
          in: query
          required: true
          schema:
            type: string
            pattern: "^[A-Z]{3}$"
          description: "ISO 3166-1 alpha-3 code of the destination country"
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum: [en, fr, es, pt, de, ja, ko, zh, ru, it, ar, hi, th, vi, tl]
            default: en
          description: "Language of the answer. All 15 languages are available on every plan, including the free tier."
      responses:
        "200":
          description: "Full visa details including documents, process, tips, and country info"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      passport:
                        type: string
                      destination:
                        type: string
                      requirement:
                        type: string
                        description: "visa_free, visa_required, e_visa, visa_on_arrival, eta, no_admission — a few pairs also return not_applicable or partial_restrictions"
                      visa_free_days:
                        type: integer
                        nullable: true
                      visa_required:
                        type: boolean
                      description:
                        type: string
                        description: "Human-readable summary of the visa requirement"
                      documents_required:
                        type: array
                        items:
                          type: string
                        description: "List of required documents"
                      process:
                        type: array
                        items:
                          type: string
                        description: "Step-by-step application process"
                      cost:
                        type: string
                        description: "Visa cost, as returned by the API (free text, may be empty)"
                      processing_time:
                        type: string
                        description: "Typical processing time (free text, may be empty)"
                      validity:
                        type: string
                        description: "How long the visa stays valid (free text, may be empty)"
                      max_stay:
                        type: string
                        description: "Maximum stay allowed (free text, may be empty)"
                      tips:
                        type: array
                        items:
                          type: string
                        description: "Travel tips and recommendations"
                      country_info:
                        type: object
                        properties:
                          currency:
                            type: string
                          language:
                            type: string
                          timezone:
                            type: string
                          capital:
                            type: string
                      verified:
                        type: boolean
                  meta:
                    type: object
                    properties:
                      lang:
                        type: string
                      api_version:
                        type: string
                      coverage:
                        type: string
                      languages:
                        type: integer
        "401":
          description: "Missing or invalid API key"
        "404":
          description: "Country pair not found"
  /api/v1/visa/stats:
    get:
      operationId: "getCoverageStats"
      summary: "Get API coverage statistics"
      description: "Returns how many pairs, passports, destinations and translations the dataset holds. No API key needed."
      responses:
        "200":
          description: "Coverage statistics"
          content:
            application/json:
              schema:
                type: object
                properties:
                  coverage:
                    type: object
                    properties:
                      visa_details:
                        type: integer
                      passports:
                        type: integer
                      destinations:
                        type: integer
                      passport_index_pairs:
                        type: integer
                      translations:
                        type: integer
                      languages:
                        type: integer
                  supported_languages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
                  requirement_distribution:
                    type: object
                    additionalProperties:
                      type: integer
                  api_version:
                    type: string
                  docs:
                    type: string
